<app-nav role="navigation"></app-nav>
<main>
  <h1>{{ 'home_title' | skyAppResources }}</h1>

  <p>Welcome to the SKY UX template.  This template is dynamically cloned anytime `skyux new` is run.  For more information about SKY UX, visit the README.</p>

  <sky-alert alertType="info">
    You've just taken your first step into a larger world.
  </sky-alert>

  <p>
    <a
      href="https://github.com/blackbaud/skyux-cli"
      target="_blank"
      rel="noopener noreferrer"
      class="sky-btn sky-btn-primary"
    >
      Learn more about SKY UX
    </a>
  </p>

  <h1>Posts</h1>
  <!-- <div *ngFor="let post of posts">
    <h4>{{post.title}}</h4>
    <p>{{post.body}}</p>
  </div> -->
   <button type="button" class="sky-btn sky-btn-primary" (click)="openModal2()">
      Open large modal
  </button>
  <sky-grid *ngIf="posts" [data]= "posts">
      <sky-grid-column
      id="id"
      field="id"
      heading="ID">
    </sky-grid-column>
    <sky-text-expand
  [text]="longText">
</sky-text-expand>
    <sky-grid-column
      id="id"
      field="title"
      heading="Title">
    </sky-grid-column>
  </sky-grid>

<!-- <ng-template
  let-row="row"
  let-value="value"
  #customColumnTemplate>
  <div>
    Value: {{value}}
  </div>
  <div>
    Column 2: {{row.title}}
  </div>
</ng-template> -->
</main>
